<h3>Legs List </h3>
<label>Statut and Success : {{this.statut}} - {{this.success}} </label><br>
<label>Message Result : {{this.message}}</label>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Value</th>
            <th>#</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.type}}</td>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
            <td>{{this._id}}</td>
            <td>
                <a href="/legs/{{this._id}}">Update</a>
                or
                <a href="/legs/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ? ');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-secondary" href="/legs/add">Create a Leg +</a>
<a class="btn btn-primary" href="/">Return to the Project</a>
