<h3>{{viewTitle}}</h3>

<label>Statut and Success : {{this.statut}} - {{this.success}} </label><br>
<label>Message Result : {{this.message}}</label>
<form action="/armors" method="POST">
<input type="hidden" name="_id" value="{{armor._id}}">
<div class="form-row">
    <div class="form-group col-md-6">
        <label>Type</label>
        <input type="text" class="form-control" name="Type" value="Armor" readonly required>
    </div>
    <div class="form-group col-md-6">
        <label>ID</label>
        <input type="number" class="form-control" name="Id" placeholder="ID" value="{{armor.id}}" readonly>
    </div>
</div>
<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="Name" placeholder="Name your armors" value="{{armor.name}}" required>
</div>
<div class="form-group">
    <h4>Chest selected</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>ObjectID</label>
            <input type="text" class="form-control" id="Chest" name="Chest" value="{{armor.composition.chest}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>ID</label>
            <input type="text" class="form-control" id="ChestId" name="ChestId" value="{{chest.id}}" readonly required>
        </div>
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" id="ChestName" name="ChestName" value="{{chest.name}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>Value</label>
            <input type="text" class="form-control" id="ChestValue" name="ChestValue" value="{{chest.value}}" readonly
                required>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each chests}}
                <tr>
                    <td>
                        <div class="radio">
                            <button type="button" onclick="myFunctionChest({{this.id}})">Select me !</button>
                        </div>
                    </td>
                    <td id="tdIdChest{{this.id}}">{{this.id}}</td>
                    <td id="tdTypeChest{{this.id}}">{{this.type}}</td>
                    <td id="tdNameChest{{this.id}}">{{this.name}}</td>
                    <td id="tdValueChest{{this.id}}">{{this.value}}</td>
                    <td id="tdIDChest{{this.id}}">{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <h4>Helmet selected</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>ObjectID</label>
            <input type="text" class="form-control" id="Helmet" name="Helmet" value="{{armor.composition.helmet}}"
                readonly required>
        </div>
        <div class="form-group col-md-2">
            <label>ID</label>
            <input type="text" class="form-control" id="HelmetId" name="HelmetId" value="{{helmet.id}}" readonly
                required>
        </div>
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" id="HelmetName" name="HelmetName" value="{{helmet.name}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>Value</label>
            <input type="text" class="form-control" id="HelmetValue" name="HelmetValue" value="{{helmet.value}}"
                readonly required>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each helmets}}
                <tr>
                    <td>
                        <div class="radio">
                            <button type="button" onclick="myFunctionHelmet({{this.id}})">Select me !</button>
                        </div>
                    </td>
                    <td id="tdIdHelmet{{this.id}}">{{this.id}}</td>
                    <td id="tdTypeHelmet{{this.id}}">{{this.type}}</td>
                    <td id="tdNameHelmet{{this.id}}">{{this.name}}</td>
                    <td id="tdValueHelmet{{this.id}}">{{this.value}}</td>
                    <td id="tdIDHelmet{{this.id}}">{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <h4>Arms selected</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>ObjectID</label>
            <input type="text" class="form-control" id="Arm" name="Arm" value="{{armor.composition.arm}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>ID</label>
            <input type="text" class="form-control" id="ArmId" name="ArmId" value="{{arm.id}}" readonly required>
        </div>
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" id="ArmName" name="ArmName" value="{{arm.name}}" readonly required>
        </div>
        <div class="form-group col-md-2">
            <label>Value</label>
            <input type="text" class="form-control" id="ArmValue" name="ArmValue" value="{{arm.value}}" readonly
                required>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each arms}}
                <tr>
                    <td>
                        <div class="radio">
                            <button type="button" onclick="myFunctionArm({{this.id}})">Select me !</button >
                        </div>
                    </td>
                    <td id="tdIdArm{{this.id}}">{{this.id}}</td>
                    <td id="tdTypeArm{{this.id}}">{{this.type}}</td>
                    <td id="tdNameArm{{this.id}}">{{this.name}}</td>
                    <td id="tdValueArm{{this.id}}">{{this.value}}</td>
                    <td id="tdIDArm{{this.id}}">{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <h4>Legs selected</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>ObjectID</label>
            <input type="text" class="form-control" id="Legs" name="Legs" value="{{armor.composition.legs}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>ID</label>
            <input type="text" class="form-control" id="LegsId" name="LegsId" value="{{legs.id}}" readonly required>
        </div>
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" id="LegsName" name="LegsName" value="{{legs.name}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>Value</label>
            <input type="text" class="form-control" id="LegsValue" name="LegsValue" value="{{legs.value}}" readonly
                required>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each legs}}
                <tr>
                    <td>
                        <div class="radio">
                            <button  type="button" onclick="myFunctionLegs({{this.id}})">Select me !</button>
                        </div>
                    </td>
                    <td id="tdIdLegs{{this.id}}">{{this.id}}</td>
                    <td id="tdTypeLegs{{this.id}}">{{this.type}}</td>
                    <td id="tdNameLegs{{this.id}}">{{this.name}}</td>
                    <td id="tdValueLegs{{this.id}}">{{this.value}}</td>
                    <td id="tdIDLegs{{this.id}}">{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <h4>Cloak selected</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>ObjectID</label>
            <input type="text" class="form-control" id="Cloak" name="Cloak" value="{{armor.composition.cloak}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>ID</label>
            <input type="text" class="form-control" id="CloakId" name="CloakId" value="{{cloak.id}}" readonly required>
        </div>
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" id="CloakName" name="CloakName" value="{{cloak.name}}" readonly
                required>
        </div>
        <div class="form-group col-md-2">
            <label>Value</label>
            <input type="text" class="form-control" id="CloakValue" name="CloakValue" value="{{cloak.value}}" readonly
                required>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each cloaks}}
                <tr>
                    <td>
                        <div class="radio">
                            <button  type="button" onclick="myFunctionCloak({{this.id}})">Select me !</button>
                        </div>
                    </td>
                    <td id="tdIdCloak{{this.id}}">{{this.id}}</td>
                    <td id="tdTypeCloak{{this.id}}">{{this.type}}</td>
                    <td id="tdNameCloak{{this.id}}">{{this.name}}</td>
                    <td id="tdValueCloak{{this.id}}">{{this.value}}</td>
                    <td id="tdIDCloak{{this.id}}">{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info">Send</button>
        <a class="btn btn-secondary" href="/armors/list">View All</a>
    </div>
</div>

</form>
<a class="btn btn-primary" href="/">Return to the Project</a>

<script type="text/javascript">
    function myFunctionChest(pId) {
        var myName = document.getElementById('ChestName');
        var myObjectID = document.getElementById('Chest');
        var myValue = document.getElementById('ChestValue')
        var myId = document.getElementById('ChestId');
        myName.value = document.getElementById('tdNameChest' + pId).innerHTML;
        myObjectID.value = document.getElementById('tdIDChest' + pId).innerHTML;
        myValue.value = document.getElementById('tdValueChest' + pId).innerHTML;
        myId.value = document.getElementById('tdIdChest' + pId).innerHTML;
        //alert(document.getElementById('tdId'+pId).innerHTML+" " +document.getElementById('tdName'+pId).innerHTML+" "+document.getElementById('tdValue'+pId).innerHTML+" "+document.getElementById('tdID'+pId).innerHTML);
    }

    function myFunctionHelmet(pId) {
        var myName = document.getElementById('HelmetName');
        var myObjectID = document.getElementById('Helmet');
        var myValue = document.getElementById('HelmetValue')
        var myId = document.getElementById('HelmetId');
        myName.value = document.getElementById('tdNameHelmet' + pId).innerHTML;
        myObjectID.value = document.getElementById('tdIDHelmet' + pId).innerHTML;
        myValue.value = document.getElementById('tdValueHelmet' + pId).innerHTML;
        myId.value = document.getElementById('tdIdHelmet' + pId).innerHTML;
        //alert(document.getElementById('tdId'+pId).innerHTML+" " +document.getElementById('tdName'+pId).innerHTML+" "+document.getElementById('tdValue'+pId).innerHTML+" "+document.getElementById('tdID'+pId).innerHTML);
    }

    function myFunctionArm(pId) {
        var myName = document.getElementById('ArmName');
        var myObjectID = document.getElementById('Arm');
        var myValue = document.getElementById('ArmValue')
        var myId = document.getElementById('ArmId');
        myName.value = document.getElementById('tdNameArm' + pId).innerHTML;
        myObjectID.value = document.getElementById('tdIDArm' + pId).innerHTML;
        myValue.value = document.getElementById('tdValueArm' + pId).innerHTML;
        myId.value = document.getElementById('tdIdArm' + pId).innerHTML;
        //alert(document.getElementById('tdId'+pId).innerHTML+" " +document.getElementById('tdName'+pId).innerHTML+" "+document.getElementById('tdValue'+pId).innerHTML+" "+document.getElementById('tdID'+pId).innerHTML);
    }

    function myFunctionLegs(pId) {
        var myName = document.getElementById('LegsName');
        var myObjectID = document.getElementById('Legs');
        var myValue = document.getElementById('LegsValue')
        var myId = document.getElementById('LegsId');
        myName.value = document.getElementById('tdNameLegs' + pId).innerHTML;
        myObjectID.value = document.getElementById('tdIDLegs' + pId).innerHTML;
        myValue.value = document.getElementById('tdValueLegs' + pId).innerHTML;
        myId.value = document.getElementById('tdIdLegs' + pId).innerHTML;
        //alert(document.getElementById('tdId'+pId).innerHTML+" " +document.getElementById('tdName'+pId).innerHTML+" "+document.getElementById('tdValue'+pId).innerHTML+" "+document.getElementById('tdID'+pId).innerHTML);
    }

    function myFunctionCloak(pId) {
        var myName = document.getElementById('CloakName');
        var myObjectID = document.getElementById('Cloak');
        var myValue = document.getElementById('CloakValue')
        var myId = document.getElementById('CloakId');
        myName.value = document.getElementById('tdNameCloak' + pId).innerHTML;
        myObjectID.value = document.getElementById('tdIDCloak' + pId).innerHTML;
        myValue.value = document.getElementById('tdValueCloak' + pId).innerHTML;
        myId.value = document.getElementById('tdIdCloak' + pId).innerHTML;
        //alert(document.getElementById('tdId'+pId).innerHTML+" " +document.getElementById('tdName'+pId).innerHTML+" "+document.getElementById('tdValue'+pId).innerHTML+" "+document.getElementById('tdID'+pId).innerHTML);
    }
</script>