<h3>Chests List <a class="btn btn-secondary" href="/chests/add">Create a Chest +</a></h3>
 
<a class="btn btn-primary" href="/">Return to the Project</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
            <td>
                <a href="/chests/{{this._id}}" aria-hidden="true"></a>
                <a href="/chests/{{this._id}}">Update</a>
                <a href="/chests/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ? ');">Delete</a>
                 <label>{{this.type}}</label>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>